<a href="https://colab.research.google.com/github/MicheleBroennimann/DSF-DCBP/blob/main/Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook 1

In [1]:
# Comments start with a #. They can also come after the code on the same line
print('Hello') # Write Hello

Hello

In [ ]:
# Multiline commands can be written with backslash \ or ()
sum = 2 + 3 + 5 \
      - 5*2
#or
print(sum)
sum = (2 + 3 + 5
      - 5*2)
print(sum)

In [ ]:
# multiple statements on one line by separating with ;
x=5; y=6; print(x-y)

In [ ]:
# Codeblocks are indicated by intendation and :
for i in range(3):
  sum+=i
print(sum) # Note that Python starts counting at 0

**Python Variables and objects**

Most important basic types are natural numbers (integer), real numbers (float), imaginary numbers and text (strings)

In [2]:
my_variable = 5; print(type(my_variable))
my_variable = 5.0; print(type(my_variable))

<class 'int'>
<class 'float'>

**Python Operators**

In [ ]:
# addition, subtraction, multiplication
print((4 + 8) * (6.5 - 3))
# True division
print(11 / 2)
# Floor division
print(11 // 2)
# Modulus
print(11 % 2)
# Exponentation
print(4 ** 0.5)

In [3]:
print(4 == 6); print(4 != 6); print(4<6); print(4>6); print(4<=6); print(4>=6)

False
True
True
False
True
False

In [ ]:
x = 4
print((x < 6) and (x > 2))
print((x > 10) or (x % 2 == 0))
print(not (x < 6))
# (x > 1) xor (x < 10)
print((x > 1) != (x < 10))

In [ ]:
print(1 is 2)
print(1 is 1)
print(1 in [1, 2, 3])
print(2 not in [1, 2, 3])

**Python Built-In Data Structures**

In [ ]:
# Lists with some built-in methods
L = [2, 3, 5, 7]
print(len(L))
L.append(11); print(L)
print(L + [13, 17, 19])
L = [2, 5, 1, 6, 3, 4]
L.sort()
print(L)
L = [1, 'two', 3.14, [0, 3, 5]] # Lists can contain various objects
print(L)

# Indexing and slicing on lists
L=[2,4,5,'madonna']
print(L[0], L[len(L)-1], L[-1]) # Indexing
print(L[2:4]) # Sclicing
print(L[3:], L[:],L[0:-1:2],L[::-1]) # The third argument is the step size

In [ ]:
# Tuples are like lists, but cannot be changed once defined
t = (2, 3, 5, 7, 11)     # 
k = 2,3,5,7,11 #also works
t[0] = 3 # Not allowed

In [ ]:
# Dictionaries are like a normal language dictionaries, there is a key word (car) for look up and a value, e.g. what is it in German (Auto).
numbers = {'one':1, 'two':2, 'three':3}
print(numbers['two'])
numbers['car']='Auto'
print(numbers)
numbers.get('car')

In [ ]:
# Sets are much like tuples and you can to set mathematics with them
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}
primes.union(odds)

**Python del statement**

The syntax of the del statement is:

del object_name,

where object_name can be variable(s), user-defined objects (also classes, attributes of classes), lists, items within lists, dictionaries etc.

del removes variable names from the namespace As a result of using del one can free up for example some variable names from the namespace. This command doesn't necessarily affect the object associated to the variable name, it frees up just the pointer (so that it can be used for other purposes maybe). However in some memory intensive applications it might be also used to prepare the objects to be erased by the garbage collector of Python.

# Notebook 2

In [7]:
import pandas as pd # Pandas, which itself builds on top of Numpy, 
#is the core data science library on which higher level libraries are building

import numpy as np #Numpy is the core scientific computing library on which 
#virtually all other scientific Python packages are building 

url = 'https://raw.githubusercontent.com/KingaS03/Introduction-to-Python/master/Homework/country_vaccinations.xls'
vaccine = pd.read_csv(url)

print(type(vaccine))

print(vaccine)
print(vaccine.head(5))

<class 'pandas.core.frame.DataFrame'>
      country iso_code        date  total_vaccinations  people_vaccinated  \
0     Albania      ALB  2021-01-10                 0.0                0.0
1     Albania      ALB  2021-01-11                 NaN                NaN
2     Albania      ALB  2021-01-12               128.0              128.0
3     Albania      ALB  2021-01-13               188.0              188.0
4     Albania      ALB  2021-01-14               266.0              266.0
...       ...      ...         ...                 ...                ...
3614    Wales      NaN  2021-02-15            803178.0           795927.0
3615    Wales      NaN  2021-02-16            820339.0           807351.0
3616    Wales      NaN  2021-02-17            841975.0           822633.0
3617    Wales      NaN  2021-02-18            864498.0           839065.0
3618    Wales      NaN  2021-02-19            885906.0           853904.0

      people_fully_vaccinated  daily_vaccinations_raw  daily_vaccinations  \
0                         NaN                     NaN                 NaN
1                         NaN                     NaN                64.0
2                         NaN                     NaN                64.0
3                         NaN                    60.0                63.0
4                         NaN                    78.0                66.0
...                       ...                     ...                 ...
3614                   7251.0                 12967.0             24418.0
3615                  12988.0                 17161.0             23033.0
3616                  19342.0                 21636.0             22012.0
3617                  25433.0                 22523.0             20649.0
3618                  32002.0                 21408.0             18891.0

      total_vaccinations_per_hundred  people_vaccinated_per_hundred  \
0                               0.00                           0.00
1                                NaN                            NaN
2                               0.00                           0.00
3                               0.01                           0.01
4                               0.01                           0.01
...                              ...                            ...
3614                           25.47                          25.24
3615                           26.02                          25.61
3616                           26.70                          26.09
3617                           27.42                          26.61
3618                           28.10                          27.08

      people_fully_vaccinated_per_hundred  daily_vaccinations_per_million  \
0                                     NaN                             NaN
1                                     NaN                            22.0
2                                     NaN                            22.0
3                                     NaN                            22.0
4                                     NaN                            23.0
...                                   ...                             ...
3614                                 0.23                          7745.0
3615                                 0.41                          7305.0
3616                                 0.61                          6982.0
3617                                 0.81                          6549.0
3618                                 1.02                          5992.0

                                 vaccines                       source_name  \
0                         Pfizer/BioNTech                Ministry of Health
1                         Pfizer/BioNTech                Ministry of Health
2                         Pfizer/BioNTech                Ministry of Health
3                         Pfizer/BioNTech                Ministry of Health
4                         Pfizer/BioNTech                Ministry of Health
...                                   ...                               ...
3614  Oxford/AstraZeneca, Pfizer/BioNTech  Government of the United Kingdom
3615  Oxford/AstraZeneca, Pfizer/BioNTech  Government of the United Kingdom
3616  Oxford/AstraZeneca, Pfizer/BioNTech  Government of the United Kingdom
3617  Oxford/AstraZeneca, Pfizer/BioNTech  Government of the United Kingdom
3618  Oxford/AstraZeneca, Pfizer/BioNTech  Government of the United Kingdom

                                         source_website
0     https://shendetesia.gov.al/covid19-ministria-e...
1     https://shendetesia.gov.al/covid19-ministria-e...
2     https://shendetesia.gov.al/covid19-ministria-e...
3     https://shendetesia.gov.al/covid19-ministria-e...
4     https://shendetesia.gov.al/covid19-ministria-e...
...                                                 ...
3614  https://coronavirus.data.gov.uk/details/health...
3615  https://coronavirus.data.gov.uk/details/health...
3616  https://coronavirus.data.gov.uk/details/health...
3617  https://coronavirus.data.gov.uk/details/health...
3618  https://coronavirus.data.gov.uk/details/health...

[3619 rows x 15 columns]
   country iso_code        date  total_vaccinations  people_vaccinated  \
0  Albania      ALB  2021-01-10                 0.0                0.0
1  Albania      ALB  2021-01-11                 NaN                NaN
2  Albania      ALB  2021-01-12               128.0              128.0
3  Albania      ALB  2021-01-13               188.0              188.0
4  Albania      ALB  2021-01-14               266.0              266.0

   people_fully_vaccinated  daily_vaccinations_raw  daily_vaccinations  \
0                      NaN                     NaN                 NaN
1                      NaN                     NaN                64.0
2                      NaN                     NaN                64.0
3                      NaN                    60.0                63.0
4                      NaN                    78.0                66.0

   total_vaccinations_per_hundred  people_vaccinated_per_hundred  \
0                            0.00                           0.00
1                             NaN                            NaN
2                            0.00                           0.00
3                            0.01                           0.01
4                            0.01                           0.01

   people_fully_vaccinated_per_hundred  daily_vaccinations_per_million  \
0                                  NaN                             NaN
1                                  NaN                            22.0
2                                  NaN                            22.0
3                                  NaN                            22.0
4                                  NaN                            23.0

          vaccines         source_name  \
0  Pfizer/BioNTech  Ministry of Health
1  Pfizer/BioNTech  Ministry of Health
2  Pfizer/BioNTech  Ministry of Health
3  Pfizer/BioNTech  Ministry of Health
4  Pfizer/BioNTech  Ministry of Health

                                      source_website
0  https://shendetesia.gov.al/covid19-ministria-e...
1  https://shendetesia.gov.al/covid19-ministria-e...
2  https://shendetesia.gov.al/covid19-ministria-e...
3  https://shendetesia.gov.al/covid19-ministria-e...
4  https://shendetesia.gov.al/covid19-ministria-e...

In [ ]:
my_string = 'This is a sentence with spaces.'
my_string.split(' ')
#methods in python

**Exercise**

1)In the Data folder on Ilias there is the data file 4ms_10 av_30 s_Absorbance_10-32-04-868.txt. Upload this file to a folder on your google drive. If you don't have a google account, make it now. Look at the file by clicking on it. Try to make sense of the data with the help of the metadata file also in the Ilias folder.

2) Mount the file to this your notebook (example code below). The path and the file name must match the ones on your google drive, of course.

In [16]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/MyDrive/DSF FS22/Absorbance.txt' # 

import pandas as pd
df = pd.read_csv(path, delimiter='\t',header =14)
print(df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
     2018-10-25 10:32:04.789000  1540456324789  0.329672  0.329672.1  \
0    2018-10-25 10:32:04.878000  1540456324878 -0.044412   -0.044412
1    2018-10-25 10:32:04.962000  1540456324962  0.338219    0.338219
2    2018-10-25 10:32:05.046000  1540456325046 -0.049682   -0.049682
3    2018-10-25 10:32:05.129000  1540456325129  0.335086    0.335086
4    2018-10-25 10:32:05.213000  1540456325213  0.328301    0.328301
..                          ...            ...       ...         ...
349  2018-10-25 10:32:34.404000  1540456354404 -0.048929   -0.048929
350  2018-10-25 10:32:34.488000  1540456354488  0.851907    0.851907
351  2018-10-25 10:32:34.576000  1540456354576  0.329255    0.329255
352  2018-10-25 10:32:34.660000  1540456354660  0.330061    0.330061
353  2018-10-25 10:32:34.744000  1540456354744  0.101879    0.101879

     0.329672.2  0.090294  -0.716926  -1.829304  -0.68633  -0.428776  ...  \
0     -0.044412  0.157632  -0.672423  -2.183981 -0.492421  -0.000000  ...
1      0.338219  0.330993  -0.879836  -0.000000 -0.559845  -0.000000  ...
2     -0.049682  0.519086  -0.681150  -0.000000 -0.417230  -0.000000  ...
3      0.335086 -0.041393  -0.000000  -1.802774 -0.510417  -0.000000  ...
4      0.328301  0.104112   0.883880  -0.000000  0.440632   0.133211  ...
..          ...       ...        ...        ...       ...        ...  ...
349   -0.048929 -0.052674  -0.739370  -2.155336 -0.520450  -0.000000  ...
350    0.851907 -0.111298  -0.639166  -2.039414 -0.531784  -0.000000  ...
351    0.329255  0.064351   0.316582  -2.107210 -0.298427   0.570461  ...
352    0.330061  0.081473  -0.525273  -1.750123 -0.134352   0.243550  ...
353    0.101879  0.177809  -0.456259  -0.000000 -0.157833  -0.376095  ...

     -0.038483  -0.039623  -0.03692  -0.037309  -0.037299  -0.037476  \
0    -0.039428  -0.038486 -0.037309  -0.036357  -0.037289  -0.038728
1    -0.037725  -0.037534 -0.036560  -0.036152  -0.036554  -0.036875
2    -0.037613  -0.037168 -0.036369  -0.034549  -0.036252  -0.037948
3    -0.040919  -0.038288 -0.035840  -0.035638  -0.039504  -0.040093
4    -0.038649  -0.037998 -0.036509  -0.035064  -0.036905  -0.035263
..         ...        ...       ...        ...        ...        ...
349  -0.038112  -0.036615 -0.035938  -0.034245  -0.035340  -0.037055
350  -0.036887  -0.036921 -0.035249  -0.033394  -0.035231  -0.035815
351  -0.037311  -0.036231 -0.037977  -0.033525  -0.035225  -0.036255
352  -0.036267  -0.036341 -0.037307  -0.035010  -0.036073  -0.036282
353  -0.037316  -0.035830 -0.036852  -0.034170  -0.034227  -0.035085

     -0.036856  -0.036853   -0.0391  -0.035545
0    -0.037214  -0.036902 -0.040210  -0.038165
1    -0.037351  -0.036746 -0.038686  -0.036903
2    -0.036713  -0.035706 -0.038203  -0.036822
3    -0.039953  -0.037656 -0.038082  -0.035900
4    -0.038798  -0.038993 -0.037434  -0.035509
..         ...        ...       ...        ...
349  -0.035771  -0.036557 -0.037451  -0.033582
350  -0.037457  -0.035020 -0.038338  -0.035408
351  -0.036670  -0.036079 -0.038006  -0.035039
352  -0.036911  -0.036554 -0.037560  -0.034496
353  -0.035308  -0.034768 -0.036334  -0.034725

[354 rows x 3650 columns]

In [21]:
df.head()

,2018-10-25 10:32:04.789000,1540456324789,0.329672,0.329672.1,0.329672.2,0.090294,-0.716926,-1.829304,-0.68633,-0.428776,...,-0.038483,-0.039623,-0.03692,-0.037309,-0.037299,-0.037476,-0.036856,-0.036853,-0.0391,-0.035545
0,2018-10-25 10:32:04.878000,1540456324878,-0.044412,-0.044412,-0.044412,0.157632,-0.672423,-2.183981,-0.492421,-0.000000,...,-0.039428,-0.038486,-0.037309,-0.036357,-0.037289,-0.038728,-0.037214,-0.036902,-0.040210,-0.038165
1,2018-10-25 10:32:04.962000,1540456324962,0.338219,0.338219,0.338219,0.330993,-0.879836,-0.000000,-0.559845,-0.000000,...,-0.037725,-0.037534,-0.036560,-0.036152,-0.036554,-0.036875,-0.037351,-0.036746,-0.038686,-0.036903
2,2018-10-25 10:32:05.046000,1540456325046,-0.049682,-0.049682,-0.049682,0.519086,-0.681150,-0.000000,-0.417230,-0.000000,...,-0.037613,-0.037168,-0.036369,-0.034549,-0.036252,-0.037948,-0.036713,-0.035706,-0.038203,-0.036822
3,2018-10-25 10:32:05.129000,1540456325129,0.335086,0.335086,0.335086,-0.041393,-0.000000,-1.802774,-0.510417,-0.000000,...,-0.040919,-0.038288,-0.035840,-0.035638,-0.039504,-0.040093,-0.039953,-0.037656,-0.038082,-0.035900
4,2018-10-25 10:32:05.213000,1540456325213,0.328301,0.328301,0.328301,0.104112,0.883880,-0.000000,0.440632,0.133211,...,-0.038649,-0.037998,-0.036509,-0.035064,-0.036905,-0.035263,-0.038798,-0.038993,-0.037434,-0.035509

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354 entries, 0 to 353
Columns: 3650 entries, 2018-10-25 10:32:04.789000 to -0.035545
dtypes: float64(3648), int64(1), object(1)
memory usage: 9.9+ MB

In [19]:
df.describe()

,1540456324789,0.329672,0.329672.1,0.329672.2,0.090294,-0.716926,-1.829304,-0.68633,-0.428776,1.740363,...,-0.038483,-0.039623,-0.03692,-0.037309,-0.037299,-0.037476,-0.036856,-0.036853,-0.0391,-0.035545
count,3.540000e+02,354.000000,354.000000,354.000000,354.000000,354.000000,354.000000,354.000000,354.000000,354.000000,...,354.000000,354.000000,354.000000,354.000000,354.000000,354.000000,354.000000,354.000000,354.000000,354.000000
mean,1.540456e+12,0.409432,0.409432,0.409432,0.120841,-0.331862,-1.136460,-0.271959,0.037477,-0.031759,...,-0.037703,-0.037616,-0.036954,-0.035218,-0.037009,-0.036700,-0.037108,-0.036634,-0.037720,-0.035370
std,8.652186e+03,0.327875,0.327875,0.327875,0.226053,0.368452,0.926719,0.318357,0.331218,0.751415,...,0.001613,0.001572,0.001650,0.001572,0.001524,0.001573,0.001651,0.001626,0.001545,0.001538
min,1.540456e+12,-0.243277,-0.243277,-0.243277,-0.504316,-0.879836,-2.446382,-0.772345,-0.629352,-0.809866,...,-0.041032,-0.040494,-0.039786,-0.039203,-0.040537,-0.040524,-0.040304,-0.039905,-0.040929,-0.038231
25%,1.540456e+12,0.103348,0.103348,0.103348,-0.016997,-0.598499,-1.977705,-0.483420,-0.003059,-0.201643,...,-0.038461,-0.038403,-0.037885,-0.036050,-0.037729,-0.037508,-0.037931,-0.037546,-0.038605,-0.036165
50%,1.540456e+12,0.330950,0.330950,0.330950,0.076220,-0.424603,-1.460518,-0.339107,-0.000000,-0.000000,...,-0.037731,-0.037726,-0.037001,-0.035262,-0.037116,-0.036718,-0.037195,-0.036683,-0.037783,-0.035421
75%,1.540456e+12,0.844298,0.844298,0.844298,0.213519,-0.123570,-0.000000,-0.113877,0.016706,-0.000000,...,-0.037018,-0.036932,-0.036270,-0.034528,-0.036314,-0.035966,-0.036284,-0.035850,-0.036983,-0.034660
max,1.540456e+12,0.871232,0.871232,0.871232,2.056905,1.344611,0.301030,1.797614,2.025306,12.746800,...,-0.016370,-0.016801,-0.014841,-0.014077,-0.017539,-0.015907,-0.016059,-0.015445,-0.016981,-0.014757

SyntaxError: ignored

https://pandas.pydata.org/docs/index.html

# Notebook 3